Arena 

<h2> Create game </h2>
<form action='/game/new' method="post">
  <input type="submit" value="create game">
</form>

<h2> here are all the games</h2>
<% @games.each do |game|%>
  <%= erb :_game_chip, :locals => {:game => game} %>
<% end %>
