<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <h2>Sign up </h2>
  <% if @player and @player.errors %>
    <%= erb :_sign_up_errors, :locals => {:player => @player} %>
  <% end %>
  <form action='signup' method="post">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="name" placeholder="name">
    <input type="submit" value="Sign Up!!">
  </form>



  <h2>Login</h2>
  <%=@errors %>
  <form action='login' method="post">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!!">
  </form>
</div>
